<div class="header">
  <div class="container-width -xl">
    <div class="row">
      <div class="col-2">Logo</div>
      <div class="col-10">
        <nav class="row justify-content-end nav">
          <div class="col-auto nav-item">
            <button class="btn btn-outline-primary">
              Iesniegt ideju
            </button>
          </div>
          <div class="col-auto nav-item">
            <a href="#"
               class="nav-link">
              Visas idejas
            </a>
          </div>
          <div class="col-auto nav-item">
            <a href="#"
               class="nav-link">
              Par mums
            </a>
          </div>
          <div class="col-auto nav-item">
            <a href="#"
               class="nav-link">
              Ienākt
            </a>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
