<app-header></app-header>

<div class="container-width -xl">
  <h2 class="mt-5 mb-2">Buttons</h2>
  <div class="row">
    <div class="col-auto py-2">
      <button class="btn btn-primary">
        Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-secondary">
        Secondary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-success">
        Success
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-info">
        Info
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-warning">
        Warning
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-danger">
        Danger
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-light">
        Lignt
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-dark">
        Dark
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-accent">
        Accent
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-base">
        Base
      </button>
    </div>
  </div>

  <h2 class="mt-5 mb-2">Disabled Buttons</h2>
  <div class="row">
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-primary">
        Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-secondary">
        Secondary
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-success">
        Success
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-info">
        Info
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-warning">
        Warning
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-danger">
        Danger
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-light">
        Lignt
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-dark">
        Dark
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-accent">
        Accent
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-base">
        Base
      </button>
    </div>
  </div>

  <h2 class="mt-5 mb-2">Outline Buttons</h2>
  <div class="row">
    <div class="col-auto py-2">
      <button class="btn btn-outline-primary">
        Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-secondary">
        Secondary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-success">
        Success
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-info">
        Info
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-warning">
        Warning
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-danger">
        Danger
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-light">
        Lignt
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-dark">
        Dark
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-accent">
        Accent
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-base">
        Base
      </button>
    </div>
  </div>

  <h2 class="mt-5 mb-2">Disabled Outline Buttons</h2>
  <div class="row">
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-primary">
        Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-secondary">
        Secondary
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-success">
        Success
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-info">
        Info
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-warning">
        Warning
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-danger">
        Danger
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-light">
        Lignt
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-dark">
        Dark
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-accent">
        Accent
      </button>
    </div>
    <div class="col-auto py-2">
      <button disabled
              class="btn btn-outline-base">
        Base
      </button>
    </div>
  </div>

  <h2 class="mt-5 mb-2">Sizes</h2>
  <div class="row">
    <div class="col-auto py-2">
      <button class="btn btn-primary btn-sm">
        Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-primary">
        Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-primary btn-lg">
        Primary
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-auto py-2">
      <button class="btn btn-outline-primary btn-sm">
        Outline Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-primary">
        Outline Primary
      </button>
    </div>
    <div class="col-auto py-2">
      <button class="btn btn-outline-primary btn-lg">
        Outline Primary
      </button>
    </div>
  </div>
</div>
